@use "./icons/icons";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
* {
    font-family: Roboto;
}
body {
    margin: 0 auto;
    background-color: rgb(194, 212, 235);
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    h4 {
        margin: 0;
    }
    img {
        aspect-ratio: 1/1;
    }
}
.messages {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    &_msg {
        background-color: #343a40;
        padding: 10px;
        margin: 10px 0 0;
        border-radius: 10px;
        text-align: center;
        &--error {
            color: red;
        }
        &--info {
            color: rgb(126, 172, 126);
        }
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    &_imgholder {
        width: 200px;
        height: 200px;
        > img {
            width: 100%;
            height: auto;
        }
    }
    &_name {
        font-size: 72px;
        color: rgb(13, 13, 95);
    }
}
.nav {
    height: 80px;
    padding: 5px 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: rgb(3, 152, 179);
        text-decoration: none;
        &:hover {
            color: #a88b07;
        }
    }
    &_links {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 0;
    }
    &_mand {
        padding-right: 40px;
    }
    &_sticky {
        width: 100%;
        position: fixed;
        z-index: 5;
        top: 0;
    }
}
.container {
    max-width: 1200px;
    width: 80%;
    padding: 0;
}
.popular {
    margin-top: 90px;
    padding: 10px;
    &_name {
        color: rgb(0, 118, 139);
        font-size: 48px;
        text-align: center;
        margin-bottom: 20px;
    }
    &_slider {
        border-radius: 10px;
        background-color: rgb(126, 172, 126);
        padding: 20px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        a {
            text-decoration: none;
        }
        &_productcard {
            width: 20%;
            height: auto;
            position: relative;
            display: flex;
            justify-content: center;
            > img {
                width: 100%;
                height: auto;
                opacity: 0.7;
                border-radius: 10px;
            }
            &_name {
                font-size: 24px;
                color: rgb(194, 212, 235);
                position: absolute;
                top: 10px;
                text-align: center;
            }
        }
    }
}
.groceries {
    margin: 90px 0;
    padding: 10px;
    a {
        text-decoration: none;
    }
    &_name {
        color: rgb(0, 118, 139);
        font-size: 48px;
        text-align: center;
        margin-bottom: 20px;
    }
    &_btns {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: rgb(126, 172, 126);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        &_link {
            text-decoration: none;
            padding: 20px;
            color: #0398b3;
            background-color: #343a40;
            border: 1px solid black;
            border-radius: 10px;
            &:hover {
                color: #a88b07;
            }
        }
    }
    &_list {
        padding: 0 20px 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        background-color: rgb(126, 172, 126);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        &_card {
            border-radius: 10px;
            max-width: 48%;
            background-color: #343a40;
            padding: 20px;
            flex: 1 0 45%;
            &_name {
                color: rgb(194, 212, 235);
                font-size: 24px;
                text-align: center;
            }
            &_info {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 10px;
                > h4 {
                    font-size: 14px;
                    color: rgb(126, 172, 126);
                    flex: 1 0 45%;
                }
                > h4:nth-child(even) {
                    text-align: end;
                }
            }
        }
    }
}
.form {
    width: 100%;
    &--contact {
        width: 50%;
    }
    margin: 0 auto 20px;
    &--place {
        margin: 0 auto;
    }
    &_group {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        &_label {
            //flex: 1 0 20%;
            font-size: 14px;
            // padding-top: calc(0.375rem + 1px);
            // padding-bottom: calc(0.375rem + 1px);
            // margin-bottom: 0;
            // font-size: inherit;
            // line-height: 1.5;
        }
        &_input {
            width: 60%;
            //flex: 1 0 80%;
            //width: 30%;
            // display: block;
            // width: 100%;
            // height: calc(1.5em + 0.75rem + 2px);
            // padding: 0.375rem 0.75rem;
            // font-size: 1rem;
            // font-weight: 400;
            // line-height: 1.5;
            // color: #495057;
            // background-color: #fff;
            // background-clip: padding-box;
            // border: 1px solid #ced4da;
            // border-radius: 0.25rem;
            // transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        &_text {
            width: 90%;
        }
        &_error {
            margin-left: 26.6%;
            p {
                margin: 0 0 0 15px;
            }
        }
    }
    &_submit {
        margin-top: 20px;
        text-decoration: none;
        padding: 10px 20px;
        color: #0398b3;
        background-color: #343a40;
        border: 1px solid #343a40;
        border-radius: 10px;
        &_sub {
            // 'artikel aan boodschap toevoegen' - boodschapdetail
            margin: 0;
            padding: 10px 20px;
            background-color: #343a40;
            border: 1px solid #343a40;
            border-radius: 10px;
            color: rgb(126, 172, 126);
            cursor: pointer;
        }
        &--grocery {
            margin-top: 20px;
            text-decoration: none;
            padding: 10px 20px;
            color: #0398b3;
            background-color: #343a40;
            border: 1px solid #343a40;
            border-radius: 10px;
            &:hover {
                color: #a88b07;
                border: 1px solid #343a40;
                font-weight: bold;
            }
        }
        &:hover {
            color: #a88b07;
            border: 1px solid #343a40;
            font-weight: bold;
            animation: rotate 1s linear;
        }
        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }
            50% {
                transform: rotate(180deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
    &_search {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        > * {
            padding: 0;
        }
        &_input {
            width: 100%;
            &--artikel {
                width: 20%;
            }
            background-color: #343a40;
            color: #00768b;
            text-align: center;
            font-size: 16px;
            padding: 10px 20px;
            border: 1px solid black;
            border-radius: 10px;
            &::placeholder {
                color: #00768b;
                text-transform: uppercase;
            }
        }
        &_button {
            width: 40px;
            height: 40px;
            background: transparent;
            border: none;
            border-radius: 5px;
            &:after {
                display: block;
                width: 40px;
                height: 40px;
                content: "\e001";
                font-family: 'icomoon';
                font-size: 30px;
                color: #343a40;
            }
        }
    }
    &_headings {
        display: flex;
        flex-direction: column;
        &_imgholder {
            width: 100%;
            max-height: 160px;
            position: relative;
            display: flex;
            justify-content: center;
            > img {
                display: block;
                width: 100%;
                height: auto;
                opacity: 0.7;
            }
            &_info {
                color: whitesmoke;
                position: absolute;
                top: 10px;
                text-align: center;
                &_name {
                    font-size: 48px;
                }
                &_code {
                    font-size: 24px;
                }
            }
        }
        &_data {
            &_title {
                font-size: 24px;
            }
        }
    }
    &_top {
        // boodschap detail boven
        margin: 30px;
        &_name {
            font-size: 48px;
            margin-bottom: 20px;
            text-align: center;
            &--input {
                text-align: center;
            }
        }
        &_readonly {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            > * {
                color: rgb(0, 118, 139);
                font-size: 16px;
                font-weight: bold;
            }
            label {
                margin: 0;
            }
            &--aantal,
            &--totaal {
                width: 5%;
                background: transparent;
                border: none;
            }
        }
        &_input {
            display: flex;
            align-items: center;
            &_date {
                width: 30%;
                background: transparent;
                border: none;
                color: rgb(0, 118, 139);
                font-size: 16px;
                font-weight: bold;
            }
            &_descr {
                width: 60%;
                font-size: 16px;
            }
        }
        &_group {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
            > * {
                flex: 1 0 45%;
            }
        }
    }
    &_data {
        padding: 20px;
        background-color: rgb(126, 172, 126);
        border-radius: 10px;
        &_list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            &_row {
                display: flex;
                justify-content: flex-start;
                gap: 10px;
                margin: 0;
                &_buttons {
                    display: flex;
                    gap: 10px;
                    margin-left: 6%;
                }
            }
        }
    }
    &-row--hidden {
        display: none;
    }
    &-select--hidden {
        display: none;
    }
}
.artikelen {
    &_group {
        margin: 20px 0;
        display: flex;
        align-items: center;
        > a {
            width: 20%;
            text-decoration: none;
            padding: 10px 20px;
            color: #0398b3;
            background-color: #343a40;
            border: 1px solid black;
            border-radius: 10px;
            text-align: center;
            &:hover {
                color: #a88b07;
            }
        }
        > form {
            margin: 0;
        }
    }
    &_name {
        color: rgb(0, 118, 139);
        font-size: 48px;
        text-align: center;
        margin-bottom: 20px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(126, 172, 126);
        > * {
            max-width: 20%;
            flex: 1 0 20%;
        }
        img {
            border-radius: 10px;
        }
    }
}
.article_list,
.store_list {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 1;
}
.article_list:hover,
.store_list:hover {
    background-color: green;
}
.button--hidden {
    display: none;
}
.list--hidden {
    display: none;
}
.article_list_parent,
.store_list_parent {
    position: relative;
}
.article__list__item,
.store__list__item {
    display: block;
    background-color: lightgrey;
}
.article_list,
.store_list {
    display: block;
}
li.store__list__item:hover {
    background-color: white;
    cursor: pointer;
}
.col--error {
    border: 1px solid red;
    border-radius: 5px;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    font: normal 16px sans-serif;
    &_copy {
        color: #8f9296;
        font-size: 14px;
        margin-bottom: 0;
    }
    &_social {
        display: flex;
        gap: 25px;
        &_link {
            width: 35px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &_go {
                width: 35px;
                height: 35px;
                background-color: #33383b;
                border-radius: 2px;
                margin-left: 3px;
                transition: all 0.25s;
                position: relative;
                &:hover {
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                }
                &--steven:after {
                    content: "";
                    display: block;
                    width: 35px;
                    height: 35px;
                    background: url("../images/linkedin_steven.png");
                    background-size: contain;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &--tijl:after {
                    content: "";
                    display: block;
                    width: 35px;
                    height: 35px;
                    background: url("../images/linkedin_tijl.jpg");
                    background-size: contain;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &--sander:after {
                    content: "";
                    display: block;
                    width: 35px;
                    height: 35px;
                    background: url("../images/linkedin_sander.jpg");
                    background-size: contain;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &--github:after {
                    content: "";
                    display: block;
                    width: 35px;
                    height: 35px;
                    background: url("../images/github.png") no-repeat;
                    background-color: #8f9296;
                    background-size: contain;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            &_name {
                font-size: 12px;
                text-align: center;
                color: #8f9296;
                margin-top: 10px;
                margin-bottom: 0;
            }
        }
    }
}
@media (max-width: 600px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}