@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@font-face {
  font-family: "icomoon";
  src: url("./icons/fonts/icomoon.eot?se0cbe");
  src: url("./icons/fonts/icomoon.eot?se0cbe#iefix") format("embedded-opentype"), url("./icons/fonts/icomoon.ttf?se0cbe") format("truetype"), url("./icons/fonts/icomoon.woff?se0cbe") format("woff"), url("./icons/fonts/icomoon.svg?se0cbe#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e001";
}

* {
  font-family: Roboto;
}

button#reset-button.datetime-reset-button {
  display: none;
}

body {
  margin: 0 auto;
  background-color: #c2d4eb;
}
body li {
  list-style-type: none;
}
body a {
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body h4 {
  margin: 0;
}
body img {
  aspect-ratio: 1/1;
}
body input {
  outline: none;
  border: none;
}
body textarea {
  outline: none;
}

.messages {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.messages_msg {
  background-color: #343a40;
  padding: 10px;
  margin: 0px 30px;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
}
.messages_msg p {
  line-height: 21.5px;
}
.messages_msg a {
  text-decoration: underline;
}
.messages_msg--error {
  color: red;
}
.messages_msg--info {
  color: #7eac7e;
}
.messages_msg--info a {
  color: #7eac7e;
}
.messages_msg--status {
  color: #a88b07;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.status_imgholder {
  aspect-ratio: 1/1;
  width: 40%;
  align-self: center;
  margin-bottom: 20px;
}
.status_imgholder img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.status--article {
  margin-top: 30px;
  justify-content: center;
  flex-direction: row-reverse;
}
.status--article > * {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  background-color: #00768b;
}
.header_imgholder {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
}
.header_imgholder > img {
  width: 100%;
  height: auto;
}
.header_name {
  font-family: "Rowdies", cursive;
  font-size: 72px;
  color: #c2d4eb;
}

.nav {
  height: 80px;
  padding: 5px 50px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav a {
  color: #c2d4eb;
  text-decoration: none;
}
.nav a:hover {
  color: #0398b3;
}
.nav_links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0;
}
.nav_mand {
  padding-right: 40px;
}
.nav_sticky {
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
}

.container {
  max-width: 1200px;
  width: 80%;
  height: auto;
  padding: 0;
}

.popular {
  width: 100%;
  margin-top: 90px;
  padding: 10px;
}
.popular_name {
  color: #00768b;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}
.popular_slider {
  border-radius: 10px;
  background-color: #00768b;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.popular_slider a {
  text-decoration: none;
}
.popular_slider_productcard {
  flex: 1 0 100px;
  position: relative;
  display: flex;
  justify-content: center;
}
.popular_slider_productcard > img {
  width: 100%;
  height: auto;
  opacity: 0.7;
  border-radius: 10px;
}
.popular_slider_productcard_name {
  font-size: 24px;
  color: #7eac7e;
  position: absolute;
  top: 10px;
  text-align: center;
}

.groceries {
  width: 100%;
  margin: 90px 0;
  padding: 10px;
}
.groceries a {
  text-decoration: none;
}
.groceries_name {
  color: #00768b;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}
.groceries_btns {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #00768b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.groceries_btns_link {
  text-decoration: none;
  padding: 20px;
  color: #c2d4eb;
  background-color: #343a40;
  border: 1px solid black;
  border-radius: 10px;
}
.groceries_btns_link:hover {
  color: #0398b3;
}
.groceries_list {
  padding: 0 20px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #00768b;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.groceries_list > a:last-child {
  flex: 0 1 48%;
}
.groceries_list_card {
  border-radius: 10px;
  max-width: 540px;
  background-color: #343a40;
  padding: 20px;
  flex: 1 0 400px;
}
.groceries_list_card_name {
  color: #c2d4eb;
  font-size: 24px;
  text-align: center;
}
.groceries_list_card_info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.groceries_list_card_info > h4 {
  font-size: 14px;
  color: #7eac7e;
  flex: 1 0 45%;
}
.groceries_list_card_info > h4:nth-child(even) {
  text-align: end;
}

.form {
  width: 100%;
  margin: 0 auto 20px;
}
.form--contact {
  max-width: 600px;
}
.form--place {
  margin: 20px auto;
  color: #c2d4eb;
  background-color: #00768b;
  border-radius: 10px;
  padding: 20px;
}
.form_group {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.form_group_label {
  font-size: 14px;
}
.form_group_input {
  width: 60%;
  border-radius: 5px;
  background-color: #c2d4eb;
  border: none;
}
.form_group_text {
  width: 90%;
  border-radius: 5px;
  background-color: #c2d4eb;
  border: none;
}
.form_group_error {
  margin-left: 25%;
}
.form_group_error p {
  margin: 0 0 0 15px;
  background-color: #343a40;
  padding: 5px;
  border-radius: 5px;
}
.form_submit {
  margin-top: 20px;
  text-decoration: none;
  padding: 10px 20px;
  color: #c2d4eb;
  background-color: #343a40;
  border: 1px solid #343a40;
  border-radius: 10px;
}
.form_submit_sub {
  margin: 0;
  padding: 10px 20px;
  background-color: #343a40;
  border: 1px solid #343a40;
  border-radius: 10px;
  color: #c2d4eb;
  cursor: pointer;
}
.form_submit_sub:hover {
  color: #0398b3;
}
.form_submit--grocery {
  margin: 20px;
  text-decoration: none;
  padding: 10px 20px;
  color: #c2d4eb;
  background-color: #343a40;
  border: 1px solid #343a40;
  border-radius: 10px;
}
.form_submit--grocery:hover {
  color: #0398b3;
  border: 1px solid #343a40;
  font-weight: bold;
}
.form_submit:hover {
  color: #0398b3;
  border: 1px solid #343a40;
  font-weight: bold;
  animation: rotate 1s linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.form_search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 20px;
}
.form_search > * {
  padding: 0;
}
.form_search_input {
  width: 100%;
  background-color: #343a40;
  color: #c2d4eb;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #343a40;
  border-radius: 10px;
}
.form_search_input--artikel {
  width: 200px;
}
.form_search_input::placeholder {
  color: #c2d4eb;
  text-transform: uppercase;
}
.form_search_button {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border-radius: 5px;
}
.form_search_button--artikel {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border-radius: 5px;
}
.form_search_button--artikel:after {
  display: block;
  width: 40px;
  height: 40px;
  content: "\e001";
  font-family: "icomoon";
  font-size: 30px;
  color: #343a40;
}
.form_search_button:after {
  display: block;
  width: 40px;
  height: 40px;
  content: "\e001";
  font-family: "icomoon";
  font-size: 30px;
  color: #c2d4eb;
}
.form_headings_imgholder {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.form_headings_imgholder > img {
  display: block;
  width: 200px;
  height: 200px;
  opacity: 0.7;
  border-radius: 10px;
}
.form_headings_imgholder_info {
  color: #00768b;
  text-align: center;
}
.form_headings_imgholder_info_name {
  font-size: 48px;
}
.form_headings_imgholder_info_code {
  font-size: 24px;
}
.form_headings_data_title {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 24px;
  color: #0398b3;
}
.form_headings_data_list {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: #00768b;
  border-radius: 10px;
}
.form_headings_data_list_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form_headings_data_list_row h4 {
  font-size: 16px;
}
.form_headings_data_list_row--title > h4 {
  font-size: 24px;
}
.form_headings_data_list_row--add {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.form_headings_data_list_row--add div {
  flex: 0 1 33%;
}
.form_headings_data_list_row--add div > input {
  width: 40%;
  border: none;
  border-radius: 5px;
  background-color: #c2d4eb;
}
.form_headings_data_list_row--add button {
  align-self: flex-end;
  flex: 0 0 13.2%;
}
.form_headings_data_list_row > * {
  width: 33%;
}
.form_headings_data_list_row div:last-child {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.form_headings_data_list_row div:last-child button {
  margin: 0;
}
.form_top {
  margin: 30px;
}
.form_top_name {
  max-width: 650px;
  font-size: 48px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}
.form_top_name--input {
  width: 100%;
  border-radius: 5px;
}
.form_top_readonly {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.form_top_readonly > * {
  color: #00768b;
  font-size: 16px;
  font-weight: bold;
}
.form_top_readonly label {
  margin: 0;
}
.form_top_readonly--aantal, .form_top_readonly--totaal {
  width: 80px;
  background: transparent;
  border: none;
  text-align: right;
}
.form_top_input {
  display: flex;
  align-items: center;
}
.form_top_input_date {
  width: 150px;
  background: transparent;
  border: none;
  color: #00768b;
  font-size: 16px;
  font-weight: bold;
}
.form_top_input_descr {
  width: 500px;
  font-size: 16px;
  border-radius: 5px;
}
.form_top_group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.form_top_group > *:nth-child(2), .form_top_group *:nth-child(3) {
  flex: 0 1 45%;
}
.form_top_group > *:nth-child(1), .form_top_group *:nth-child(4) {
  flex: 1 1 35%;
}
.form_data {
  margin: 30px;
  padding: 20px;
  background-color: #00768b;
  border-radius: 10px;
}
.form_data ul:first-child {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 0;
}
.form_data ul:first-child > * {
  width: 20%;
}
.form_data_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form_data_list_row {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 0;
}
.form_data_list_row > * {
  flex: 1 0 140px;
}
.form_data_list_row input {
  width: 100%;
  background-color: #c2d4eb;
}
.form_data_list_row input[readonly] {
  width: 100%;
  background-color: #528fdd;
  border: 1px solid #528fdd;
}
.form_data_list_row_store, .form_data_list_row_article {
  position: relative;
}
.form_data_list_row_store > ul, .form_data_list_row_article > ul {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.form_data_list_row_store > ul:hover, .form_data_list_row_article > ul:hover {
  cursor: pointer;
}
.form_data_list_row_buttons {
  display: flex;
  gap: 10px;
}
.form_data_list_row_buttons button {
  color: #fff;
  border-radius: 5px;
}
.form_data_list_row_buttons li:first-child button, .form_data_list_row_buttons li:first-child {
  background-color: blueviolet;
  border-color: blueviolet;
}
.form_data_list_row_buttons li:nth-child(2) {
  background-color: green;
  border-color: green;
}
.form_data_list_row_buttons li:nth-child(2):hover {
  cursor: pointer;
}
.form_data_list_row_buttons li:last-child button, .form_data_list_row_buttons li:last-child {
  background-color: darkred;
  border-color: darkred;
}
.form-row--hidden {
  display: none;
}
.form-select--hidden {
  display: none;
}
.form_article {
  width: 100%;
  color: #c2d4eb;
}
.form_article_title {
  font-size: 36px;
  color: #c2d4eb;
  margin-bottom: 20px;
}
.form_article_group {
  display: flex;
}
.form_article_group_button {
  margin: 0;
  margin-left: 70px;
  align-self: flex-end;
}
.form_article_input_code, .form_article_input_name, .form_article_input_unit {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.form_article_input_code label, .form_article_input_name label, .form_article_input_unit label {
  width: 80px;
  margin-right: 10px;
}
.form_article_input_code input, .form_article_input_name input, .form_article_input_unit input {
  border: none;
  border-radius: 5px;
  max-width: 300px;
  z-index: 5;
  position: absolute;
}
.form_article_input_code input[readonly], .form_article_input_name input[readonly], .form_article_input_unit input[readonly] {
  color: #c2d4eb;
  background-color: #00768b;
}
.form_article_imagegroup {
  display: flex;
  gap: 20px;
}
.form_article_imagegroup_label {
  font-size: 16px;
}
.form_article_imagegroup_imgholder {
  width: 100px;
  height: auto;
}
.form_article_imagegroup_imgholder > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.form--center {
  max-width: 600px;
  margin: 20px auto;
  background-color: #00768b;
  padding: 20px;
  border-radius: 10px;
}

.artikelen > ul > * {
  flex: 1 0 25%;
}
.artikelen_group {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.artikelen_group_add {
  width: 200px;
  padding: 10px 20px;
  color: #c2d4eb;
  background-color: #343a40;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}
.artikelen_group_add:hover {
  color: #0398b3;
}
.artikelen_name {
  color: #00768b;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}
.artikelen ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: #00768b;
}
.artikelen ul > * {
  max-width: 200px;
}
.artikelen ul img {
  border-radius: 10px;
}

.button--hidden {
  display: none;
}

.list--hidden {
  display: none;
}

.article_list_parent,
.store_list_parent {
  position: relative;
}

.article__list__item,
.store__list__item {
  display: block;
  background-color: lightgrey;
}

.article_list,
.store_list {
  display: block;
}

li.store__list__item:hover {
  background-color: white;
  cursor: pointer;
}

.col--error input[readonly] {
  background-color: rgba(236, 82, 82, 0.637);
  border: 1px solid rgba(236, 82, 82, 0.637);
  border-radius: 5px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  font: normal 16px sans-serif;
}
.footer_copy {
  color: #8f9296;
  font-size: 14px;
  margin-bottom: 0;
}
.footer_social {
  display: flex;
  gap: 25px;
}
.footer_social_link {
  width: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_social_link_go {
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  margin-left: 3px;
  transition: all 0.25s;
  position: relative;
}
.footer_social_link_go:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.footer_social_link_go--steven:after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background: url("../images/LI-In-Bug.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
}
.footer_social_link_go--tijl:after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background: url("../images/linkedin_tijl.jpg");
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
}
.footer_social_link_go--sander:after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background: url("../images/linkedin_sander.jpg");
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
}
.footer_social_link_go--github:after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background: url("../images/github.png") no-repeat;
  background-color: #8f9296;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
}
.footer_social_link_name {
  font-size: 12px;
  text-align: center;
  color: #8f9296;
  margin-top: 10px;
  margin-bottom: 0;
}

@media screen and (max-width: 1150px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .groceries_list > a:last-child {
    flex-basis: 100%;
  }
  .groceries_list_card {
    max-width: 100%;
    flex-basis: 100%;
  }

  .form_top_name {
    font-size: 40px;
    max-width: 550px;
  }
  .form_top_input_descr {
    width: 400px;
  }
  .form_headings_data_list_row--add div input {
    width: 120px;
  }
}
@media screen and (max-width: 800px) {
  .form_top_input {
    z-index: 5;
  }
  .form_top_input_descr {
    width: 300px;
  }
}
@media screen and (max-width: 700px) {
  .container {
    width: 100%;
  }

  .header_name {
    font-size: 54px;
  }

  .nav_links {
    padding: 0;
  }
  .nav_links a:first-child {
    padding-left: 0;
  }
  .nav_mand {
    padding: 0;
  }

  .popular {
    margin-top: 40px;
    padding: 0px;
  }
  .popular_slider {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .popular_slider > a {
    flex: 0 1 127px;
  }
  .popular_slider_productcard_name {
    font-size: 16px;
  }

  .groceries {
    margin: 40px 0px;
    padding: 0;
  }
  .groceries_list {
    padding: 0px 40px 20px;
  }

  .form_submit--grocery {
    width: 120px;
    text-align: center;
  }
  .form_search_input {
    width: 130px;
  }
  .form_search_input::placeholder {
    font-size: 1rem;
    font-weight: 400;
    text-transform: lowercase;
  }
  .form_top_name {
    font-size: 30px;
    max-width: 400px;
  }

  .artikelen_group_add {
    margin-left: 40px;
  }

  .footer {
    padding: 10px 40px;
  }
}
@media screen and (max-width: 590px) {
  .header_name {
    font-size: 42px;
  }

  .nav {
    padding: 5px 20px;
  }

  .artikelen > ul > * {
    flex: 1 1 40%;
    max-width: 250px;
  }

  .form--place {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form_group {
    width: 70%;
  }
  .form_group_label {
    text-align: start;
    padding: 0;
    text-align: center;
  }
  .form_group div {
    display: flex;
  }
  .form_group div > input {
    width: 70%;
    margin: 0 auto;
  }
  .form_group_text {
    width: 100%;
    min-height: 100px;
  }
  .form_headings_imgholder {
    gap: 50px;
  }
  .form_headings_data_list_row, .form_headings_data_list_row--add {
    justify-content: flex-start;
    gap: 20px;
  }
  .form_headings_data_list_row div, .form_headings_data_list_row h4, .form_headings_data_list_row input, .form_headings_data_list_row--add div, .form_headings_data_list_row--add h4, .form_headings_data_list_row--add input {
    width: 120px;
  }
  .form_top_group {
    justify-content: flex-start;
  }
  .form_top_group > *:nth-child(1), .form_top_group *:nth-child(4) {
    width: 200px;
  }
  .form_top_group > *:nth-child(2), .form_top_group *:nth-child(3) {
    width: 200px;
  }
}
@media screen and (max-width: 490px) {
  .form_article_title {
    font-size: 28px;
  }
}

/*# sourceMappingURL=style.css.map */
