@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
* {
  font-family: Roboto;
}

body {
    margin: 0 auto;
    background-color: rgb(194, 212, 235);
    li {
        list-style-type: none;
    }
    a {
      text-decoration: none;
  }
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &_imgholder {
        width: 200px;
        height: 200px;
        > img {
            width: 100%;
            height: auto;
        }
    }
    &_name {
        font-size: 72px;
        color: rgb(13, 13, 95);
    }
}
.nav{
    height: 80px;
    padding: 5px 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: rgb(3, 152, 179);
        text-decoration: none;
    }
    &_links {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 0;
    }
    &_mand {
        padding-right: 40px;
    }
    &_sticky {
        width: 100%;
        position: fixed;
        z-index: 5;
        top: 0;
    }
}
.container {
    max-width: 1200px;
    width: 80%;
}
.popular {
    margin-top: 90px;
    padding: 10px;
    &_name {
        color:rgb(0, 118, 139);
        font-size: 48px;
        text-align: center;
        margin-bottom: 20px;
    }
    &_slider {
        border-radius: 10px;
        background-color: rgb(126, 172, 126);
        padding: 20px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        a {
            text-decoration: none;
        }
        &_productcard {
            width: 20%;
            height: auto;
            position: relative;
            display: flex;
            justify-content: center;
            > img {
                width: 100%;
                height: auto;
                opacity: 0.7;
            } 
            &_name {
                font-size: 24px;
                color: whitesmoke;
                position: absolute;
            }
        }
    }
}
.groceries {
    margin: 90px 0px;
    padding: 10px;
    &_name {
        color:rgb(0, 118, 139);
        font-size: 48px;
        text-align: center;
        margin-bottom: 20px;
    }
    &_btns {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: rgb(126, 172, 126);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        &_link {
            text-decoration: none;
            padding: 20px;
            background-color: #343a40;
            border: 1px solid black;
        }
    }
    &_list {
        padding: 20px;
        padding-top: 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        background-color: rgb(126, 172, 126);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        a {
            text-decoration: none;
        }
        &_card {
            border-radius: 10px;
            max-width: 48%;
            background-color:darkslateblue;
            padding: 10px;
            flex: 1 0 45%;
            &_name {
                color:rgb(0, 139, 69);
                font-size: 24px;
                text-align: center;
            }
            &_info {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 10px;
                > h4 {
                    font-size: 14px;
                    flex: 1 0 45%;
                }
                > h4:nth-child(even) {
                    text-align: end;
                }
            }
        }
    }
}

.store_list,
.article_list {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 1;
}
.store_list:hover,
.article_list:hover {
    background-color: green;
}
.form-row--hidden {
    display: none;
}
.form-select--hidden {
    display: none;
}
.button--hidden {
    display: none;
}
.list--hidden {
    display: none;
}
.store_list_parent,
.article_list_parent {
    position: relative;
}
.store__list__item,
.article__list__item {
    display: block;
    background-color: lightgrey;
}
.store_list,
.article_list {
    display: block;
}
li.store__list__item:hover {
    background-color: white;
    cursor: pointer;
}
.col--error {
    border: 1px solid red;
    border-radius: 5px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    font: normal 16px sans-serif;
    &_copy {
        color: #8f9296;
        font-size: 14px;
        margin-bottom: 0;
    }
    &_social {
        a {
            display: inline-block;
            width: 35px;
            height: 35px;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-left: 3px;
            transition:all .25s;
            &:hover {
                transform:scale(1.1); -webkit-transform:scale(1.1);
            }
        }
    }
}
  
@media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }

// .footer-distributed p.footer-links {
//     font-size: 18px;
//     font-weight: bold;
//     color: #ffffff;
//     margin: 0 0 10px;
//     padding: 0;
//     transition: ease .25s;
//   }
  
//   .footer-distributed p.footer-links a {
//     display: inline-block;
//     line-height: 1.8;
//     text-decoration: none;
//     color: inherit;
//     transition: ease .25s;
//   }
  
//   .footer-distributed .footer-links a:before {
//     content: "·";
//     font-size: 20px;
//     left: 0;
//     color: #fff;
//     display: inline-block;
//     padding-right: 5px;
//   }
  
//   .footer-distributed .footer-links .link-1:before {
//     content: none;
//   }
  
//   .footer-distributed .footer-right {
//     float: right;
//     margin-top: 6px;
//     max-width: 180px;
//   }
  
//   .footer-distributed .footer-right a {
//     display: inline-block;
//     width: 35px;
//     height: 35px;
//     background-color: #33383b;
//     border-radius: 2px;
//     font-size: 20px;
//     color: #ffffff;
//     text-align: center;
//     line-height: 35px;
//     margin-left: 3px;
//     transition:all .25s;
//   }