.store_list,
.article_list {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 1;
}
.store_list:hover,
.article_list:hover {
    background-color: green;
}
.form-row--hidden {
    display: none;
}
.form-select--hidden {
    display: none;
}
.button--hidden {
    display: none;
}
.list--hidden {
    display: none;
}
.store_list_parent,
.article_list_parent {
    position: relative;
}
.store__list__item,
.article__list__item {
    display: block;
    backgroundcolor: lightgrey;
}
.store_list,
.article_list {
    display: block;
}
li.store__list__item:hover {
    background-color: white;
    cursor: pointer;
}
h1 {
    color:darkblue;
    font-size: 72px;
}
h2 {
    color:rgb(0, 118, 139);
    font-size: 48px;
}
h3 {
    color:rgb(0, 139, 69);
    font-size: 24px;
}
body {
    background-color:rgb(230, 230, 230);
}