<li class="list_item list_item--add">
    <div class="col list_item_col">
        <select class="list_item_col_select form-select--hidden" name="pri_sto_id">
            <option selected value=></option>
        </select>
        <p class="list_item_col--error">@pri_sto_id_error@</p>
        <input class="list_item_col_name list_item_name--add input__store" type="text" name="sto_name" placeholder="winkelnaam" autocomplete="off" />
        <ul class="list_item_col_list store_list list--hidden"></ul>
    </div>
    <div class="col list_item_col">
        <p class="list_item_col--error">@pri_value_error@</p>
        <input class="list_item_col_price list_item_col_price--add" type="text" name="pri_value" placeholder="€ 0.00" />
    </div>
    <button type="submit" name="action" value="submit">submit</button>
</li>