<form class="form" method="POST" action="./lib/save.php">
    <!-- hidden inputs -->
    <input type="hidden" name="csrf" value="@csrf@" />
    <input type="hidden" name="refer" value="../artikel_detail.php?id=@art_id@" />
    <input type="hidden" name="info-insert" value="artikel succesvol aan winkelmand toegevoegd!" />
    <input type="hidden" name="info-update" value="Prijs succesvol geüpdateted!" />
    <input type="hidden" name="table" value="art_price_sto" />
    <input type="hidden" name="form" id="form" value="artikel-detail" />
    <input type="hidden" name="pri_art_id" value="@art_id@" />
    <input type="hidden" name="key" value="pri_id" />
    <!-- einde hidden inputs -->
    <section class="form_headings">
        <div class="form_headings_imgholder">
            <img src="./images/@art_img@" alt="@art_name@ afbeelding" />
            <div class="form_headings_imgholder_info">
                <h3 class="form_headings_imgholder_info_name">@art_name@</h3>
                <h3 class="form_headings_imgholder_info_code">@art_code@</h3>
            </div>
        </div>
        <div class="form_data">
            <div class="messages">
                @error@
            </div>
            <div class="error-messages">
                @info@
            </div>
            <h2 class="form_data_title">Prijs per winkel </h2>
            <ul class="form_data_list">
                @artikel_list@
            </ul>
        </div>
    </section>
</form>