<section class="artikelen">
    <div class="artikelen_group">
    <a class="artikelen_group_add" href="./artikel_add.php">artikel toevoegen</a>
    <form class="form form_search" action="./artikelen.php" method="GET">
        <input class="form_search_input form_search_input--artikel" type="search" class="form-control" name="name" placeholder="search field" autocomplete="off">
        <button class="form_search_button--artikel" type="submit"></button>
    </form>
    </div>
    <h2 class="artikelen_name">Artikelen</h2>
    <ul>
        @artikelen@
    </ul>
</section>