<li class="form_headings_data_list_row form_headings_data_list_row--add list_item list_item--add">
    <div>
        <select class="list_item_col_select form-select--hidden" name="pri_sto_id">
            <option selected value=></option>
        </select>
        <input class="list_item_col_name list_item_name--add input__store" type="text" name="sto_name" placeholder="winkelnaam" autocomplete="off" />
        <ul class="list_item_col_list store_list list--hidden"></ul>
    </div>
    <div>
        <input class="list_item_col_price list_item_col_price--add" type="text" name="pri_value" placeholder="€ 0.00" />
    </div>
</li>
<button class="form_submit" type="submit" name="action" value="submit">submit</button>