<li class="form-row rows__item form-row--hidden">
    <div class="col">
        <select class=form-select--hidden>
            <option selected value="">
        </select>
        <input type="text" class="form-control input__store" placeholder="winkel" autocomplete="off">
        <ul class="store_list list--hidden">
        </ul>
    </div>
    <div class="col">
        <select class=form-select--hidden>
            <option selected value=>
        </select>
        <input type="text" class="form-control input__article" placeholder="artikel" autocomplete="off">
        <ul class="article_list list--hidden">
        </ul>
    </div>
    <div class="col">
        <input type="text" class="form-control input__aantal" placeholder="aantal" autocomplete="off">
    </div>
    <div class="col">
        <input type="text" class="form-control input__prijs" placeholder="prijs" autocomplete="off">
    </div>
    <ul class="buttons list-unstyled d-flex">
        <li><button class="btn btn-info button__detail" name="action" value="refer" refer="../artikel_detail.php?=" disabled="disabled">details</button></li>
        <li class="btn btn-success button__edit">edit</li>
        <li class="btn btn-danger button__delete__new" name="action" disabled="disabled">delete</li>
    </ul>
</li>
<li class="form-row rows__item btn btn-primary col-sm-12 button__add_row" id="button_add">Artikel aan boodschap toevoegen</li>