<li class="form-row rows__item rows__item--locked">
    <div class="col">
        <select name="data[@row_id@][row_sto_id]" class=form-select--hidden>
            <option selected value="@row_sto_id@">
        </select>
        <input type="text" class="form-control input__store" name="data[@row_id@][sto_name]" value="@sto_name@" readonly="readonly">
    </div>
    <div class="col">
        <select name="data[@row_id@][row_art_id]" class=form-select--hidden>
            <option selected value="@row_art_id@">
        </select>
        <input type="text" class="form-control input__article" name="data[@row_id@][art_name]" value="@art_name@" readonly="readonly">
    </div>
    <div class="col">
        <input type="text" class="form-control input__aantal" name="data[@row_id@][row_pieces]" value="@row_pieces@" readonly="readonly">
    </div>
    <div class="col">
        <input type="text" class="form-control input__prijs" name="data[@row_id@][row_pric]" value="@row_pric@" readonly="readonly">
    </div>
    <ul class="buttons">
        <button class="btn btn-info button__detail" name="action" value="refer" refer="../artikel_detail.php?id=@row_art_id@">details</button>
        <li class="btn btn-danger button__delete" name="action" value="delete-@row_id@">delete</li>
    </ul>
</li>