<li class="rows__item button__add">
    <div class="btn btn-primary col-sm-12">Artikel aan boodschap toevoegen</div>
    <div class="form-row form-row--hidden">
        <div class="col">
            <select name="win_naam" class="form-control">
                @select@
            </select>
        </div>
        <div class="col">
            <select name="art_naam" class="form-control">
                @select@
            </select>
        </div>
        <div class="col">
            <input type="text" class="form-control" name="aantal" placeholder="aantal">
        </div>
        <div class="col">
            <input type="text" class="form-control" name="prijs" placeholder="prijs">
        </div>
        <div class="buttons">
            <a class="btn btn-info button__detail button__detail--disabled" href="#">details</a>
            <div class="btn btn-danger button__delete" name="action">delete</div>
        </div>
    </div>
</li>