<section class="boodschappen">
    <h2 class="boodschappen_name">Populaire producten</h2>
    <div class="boodschappen_contain">

        <button type="button" class="boodschappen_contain_button">Boodschap toevoegen</button>
        <form class="boodschappen_contain_form form-inline">
            <input class="boodschappen_contain_form_search" type="search" placeholder="SEARCH FIELD" aria-label="Search">
        </form>
        <div class="boodschappen_contain_list">
            @list@
        </div>
    </div>
</section>