<form action="./lib/save.php" method="POST">
    <!-- hidding inputs -->
    <input type="hidden" name="csrf" value="@csrf@">
    <input type="hidden" name="table" value="row">
    <input type="hidden" name="after" value="boodschap_detail.php">
    <input type="hidden" name="last_row_id" value="@next_row_id@" id="next_row_id">
    <!-- end of hidding inputs -->
    <section class="headings">
        <div class="left">
            <input type="date" name="gro_date" value="@gro_date@" readonly>
            <input type="text" name="gro_desc" value="@gro_desc@" placeholder="Geef een beschrijving" readonly>
        </div>
        <h2><input type="text" name="gro_name" value="@gro_name@" placeholder="Geef de boodschap een naam" readonly></h2>
        <div class="right">
            <div>
                <label for="aantal_artikelen">aantal artikelen</label>
                <input type="text" id="aantal_artikelen" value="@gro_amount@" readonly>
            </div>
            <div>
                <label for="totaal_prijs">Totaal prijs</label>
                <input type="text" id="totaal_prijs" value="@gro_pric@" readonly>
            </div>
        </div>
    </section>
    <ul class="headings row list-unstyled justify-content-center">
        <li class="col">Winkel</li>
        <li class="col">Artikel</li>
        <li class="col">Aantal</li>
        <li class="col">Prijs/stuk</li>
    </ul>
    <ul class="rows list-unstyled">
        @grocery_rows@
    </ul>
    <input class="btn btn-secondary" type="submit" name="action" value="submit">
</form>