<form action="./lib/save.php" method="POST">
    <!-- hidding inputs -->
    <input type="hidden" name="csrf" value="@csrf@">
    <input type="hidden" name="table" value="row">
    <input type="hidden" name="refer" value="../index.php">
    <input type="hidden" name="headers[next_row_id]" value="@next_row_id@" id="next_row_id">
    <input type="hidden" name="form" value="boodschapdetail">
    <input type="hidden" name="headers[gro_id]" value="@gro_id@">
    <input type="hidden" name="headers[gro_per_id]" value="@gro_per_id@">
    <input type="hidden" name="info-delete" value="rij werd succesvol verwijdert!">
    <input type="hidden" name="info-submit" value="Boodchap is succesvol toegevoegd!">
    <!-- end of hidding inputs -->
    <section class="headings">
        <div class="left">
            <input type="date" name="headers[gro_date]" value="@gro_date@" readonly>
            <input type="text" name="headers[gro_description]" value="@gro_description@" placeholder="Geef een beschrijving">
        </div>
        <h2><input type="text" name="headers[gro_name]" value="@gro_name@" placeholder="Geef de boodschap een naam"></h2>
        <div class="right">
            <div>
                <label for="aantal_artikelen">aantal artikelen</label>
                <input type="text" name=headers[gro_amount] id="aantal_artikelen" value="@gro_amount@" readonly>
            </div>
            <div>
                <label for="totaal_prijs">Totaal prijs</label>
                <input type="text" id="totaal_prijs" name="headers[gro_pric]" value="@gro_pric@" readonly>
            </div>
        </div>
    </section>
    @info@
    @error@
    <ul class="headings row list-unstyled justify-content-center">
        <li class="col">
            <h3>Winkel</h3>
            <p class="error-msg">@row_sto_id_error@</p>
        </li>
        <li class="col">
            <h3>Artikel</h3>
            <p class="error-msg">@row_art_id_error@</p>
        </li>
        <li class="col">
            <h3>Aantal</h3>
            <p class="error-msg">@row_pieces_error@</p>
        </li>
        <li class="col">
            <h3>Prijs/stuk</h3>
            <p class="error-msg">@row_pric_error@</p>
        </li>
    </ul>
    <ul class="list--hidden" id="article_list">
        @article_list@
    </ul>
    <ul class="list--hidden" id="store_list">
        @store_list@
    </ul>
    <ul class="rows list-unstyled">
        @grocery_rows@
    </ul>
    <input class="btn btn-secondary" type="submit" name="action" value="submit">
</form>