<section class="boodschappen">
    <h2 class="boodschappen_name">Recente boodschappen</h2>
    <div class="boodschappen_contain">
        <div class="boodschappen_contain_btns">
            <button type="button" class="boodschappen_contain_btns_button">Boodschap toevoegen</button>
            <form class="boodschappen_contain_btns_form form-inline">
                <input class="boodschappen_contain_btns_form_search" type="search" placeholder="SEARCH FIELD" aria-label="Search">
                <div class="boodschappen_contain_btns_form_layer">
                    <button type="submit" class="boodschappen_contain_btns_form_layer_submit"></button>
                </div>
            </form>
        </div>
        <div class="boodschappen_contain_list">
            @list@
        </div>
    </div>
</section>