    <form class="form form--contact" action="./lib/mail.php" method="POST">
    <!-- meta data -->
    <input type="hidden" name="next" value="index.php">
    <input type="hidden" name="csrf" value="@csrf@">
    <!-- end of meta data -->
    <div class="form--place">
    <div class="form_group">
        <label for="per_firstname" class="form_group_label col-sm-3">Voornaam</label>
        <div class="col-sm-9">
            <input type="text" name="per_firstname" class="form_group_input" id="per_firstname">
        </div>
        <div class="form_group_error">
            @per_firstname_error@
        </div>
    </div>
    <div class="form_group">
        <label for="per_lastname" class="form_group_label col-sm-3">Naam</label>
        <div class="col-sm-9">
            <input type="text" name="per_lastname" class="form_group_input" id="per_lastname">
        </div>
        <div class="form_group_error">
            @per_lastname_error@
        </div>
    </div>
    <div class="form_group">
        <label for="per_email" class="form_group_label col-sm-3">e-mail adres</label>
        <div class="col-sm-9">
            <input type="text" name="per_email" class="form_group_input" id="per_email">
        </div>
        <div class="form_group_error">
            @per_email_error@
        </div>
    </div>
    <div class="form_group">
        <label for="question" class="form_group_label col-sm-3">stel uw vraag</label>
        <div class="col-sm-9">
            <textarea name="question" id="question" class="form_group_text"></textarea>
        </div>
        <div class="form_group_error">
            @question_error@
        </div>
    </div>
    <button type="submit" class="form_submit">verzend</button>
    </div>
    </form>