</div>
<footer class="footer">
  <h4 class="footer_copy">Copyright &copy; 2022 by MyWeGo. All Rights Reserved</h4>
  <div class="footer_social">
    <div class="footer_social_link">
       <a href="https://www.linkedin.com/in/Steven-Thans/" target="blank" class="footer_social_link_go footer_social_link_go--steven"></a> 
      <h4 class="footer_social_link_name">Steven LinkedIn</h4>
    </div>
    <div class="footer_social_link">
      <a href="https://www.linkedin.com/in/tijlpannecoeck/" target="blank" class="footer_social_link_go footer_social_link_go--tijl"></a>
      <h4 class="footer_social_link_name">Tijl LinkedIn</h4>
    </div>
    <div class="footer_social_link">
      <a href="https://www.linkedin.com/in/sanderfabry/" target="blank" class="footer_social_link_go footer_social_link_go--sander"></a>
      <h4 class="footer_social_link_name">Sander LinkedIn</h4>
    </div>
    <div class="footer_social_link">
      <a href="https://github.com/Foebry/groepsproject_1" target="blank" class="footer_social_link_go footer_social_link_go--github"></a>
      <h4 class="footer_social_link_name">Team Github</h4>
    </div>
  </div>
</footer>

<script src="./js/nav.js"></script>
